<h1>Hello this is Main Component</h1>
<br>
<input type="text" placeholder="customer name" #customerNameInput> &nbsp;
<input type="text" placeholder="Item code" #itemData>
<br>
<br>
<div>
  <button routerLink="/customer/{{customerNameInput.value}}" routerLinkActive="active">Customer</button>
  <button (click)="navigateWithClick('/item', itemData.value)" routerLinkActive="active">Item</button>
  <button (click)="navigateWithJson('/order')" routerLinkActive="active">Order</button>

  <button (click)="navigateToLink('/place-order')"
          routerLinkActive="active">Place Order</button>
</div>

<hr>
<router-outlet></router-outlet>








<!--
routerLink
how to route with click
how to parse data with router (just a value, json)
router link active (selected child enable )
child route
feature modules
-->
