<h1>Hello this is Main Component</h1>
<br>

<div>
  <button routerLink="/customer" routerLinkActive="active">Customer</button>
  <button routerLink="/item" routerLinkActive="active">Item</button>
  <button routerLink="/order" routerLinkActive="active">Order</button>
  <button routerLink="/place-order" routerLinkActive="active">Place Order</button>
</div>

<hr>
<router-outlet></router-outlet>








<!--
routerLink
how to route with click
how to parse data with router (just a value, json)
router link active (selected child enable )
child route
feature modules
-->
